.container {
    position: relative;
    /* width: 100px; */
}

.imageOne {
    border-radius: 50px;
    width: 100%;
}

.imageTwo {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gradient {
    background-image: linear-gradient(to bottom right, #123456, white);
}