.parent {
    display: flex;
    flex-wrap: wrap;
  }

  .centered {
    margin: 0 auto;
  }

  .greenscreen {
    background-color: #000000;
    margin: 50px;
    border-width: 20px;
    border-color: #000000;
  }

  .toon {
    cursor: pointer;
  }

  .toon-menu {
    position: relative;
  }

  .toon-menu-small {
    margin: 3px;
    width: 64px;
  }

  .toon-menu-normal {
    margin: 10px;
    width: 96px;
  }

  .toon-portrait {
    max-width: 100%;
  }

  .border-light {
    box-shadow: 0 0 10px 2px #0370d2;
  }

  .border-neutral {
    box-shadow: 0 0 10px 2px #717273;
  }

  .border-dark {
    box-shadow: 0 0 10px 2px #c30808;
  }

  .toon-portrait-small {
    border-radius: 15px;
  }

  .toon-portrait-normal {
    border-radius: 20px;
  }

  .zeta {
    background:50% transparent url('/public/tex.skill_zeta_glow.png') no-repeat;
    background-size:contain;
    width:38px;
    height:38px;
    position:absolute;
    color:#fff;
    text-align:center;
    line-height:38px;
    font-size:12px;
    font-weight:700;
    text-shadow:1px 1px 0 #7028c9;
    left: -2%;
    top: 55%;
  }

  .omicron {
    background:50% transparent url('/public/omicron-badge.png') no-repeat;
    background-size:contain;
    width:38px;
    height:38px;
    position:absolute;
    color:#fff;
    text-align:center;
    line-height:38px;
    font-size:12px;
    font-weight:700;
    text-shadow:1px 1px 0 #000;
    left: 62%;
    top: 55%;
  }

  .gear {
    background-image:url('/public/relic-badge-atlas.png');
    background-size:100%;
    width:47px;
    height:47px;
    position:absolute;
    color:#fff;
    text-align:center;
    line-height:45px;
    font-weight:700;
    text-shadow:1px 1px 0 #000;
    left: 25%;
    top: 52%;
  }

  .gear-neutral {
    background-position:0 -300%
  }

  .gear-dark {
    background-position:0 -100%
  }

  .gear-ult {
    background-position:0 -200%
  }

  .gear-req {
    background-image:url('/public/datacron-relic-requirement-badge.png');
    background-size:100%;
    width: 30px;
    height: 30px;
    position:absolute;
    color:#fff;
    text-align:center;
    line-height:30px;
    font-weight:700;
    text-shadow:1px 1px 0 #000;
    left: 35%;
    top: 60%;
  }

  .low-gear {
    /* '/public/character-level-bg-atlas.png' */
    background-image:url('/public/character-level-bg-atlas.png');
    background-size:100%;
    width:40px;
    height:35px;
    position:absolute;
    color:#fff;
    text-align:center;
    line-height:40px;
    font-weight:700;
    text-shadow:1px 1px 0 #000;
    left: 28%;
    top: 57%;
  }

  .star {
    background:center 0 transparent url('/public/star.png') no-repeat;
    background-size:100%;
    width:30px;
    height:30px;
    position:absolute;
    color:#fff;
    text-align:center;
    line-height:32px;
    font-weight:700;
    text-shadow:1px 1px 0 #000,-1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000;
    left: 0%;
    top: 0%;
  }

  .caption {
    padding: 5% 0;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #3366CC;
    font-weight: bold;
  }

  .child-large {
    margin: 5px;
    height: 300px;
    width: 280px;
    padding: 15px;
  }
  
  .child-normal {
    /* flex: 1 0 10%; */
    margin: 5px;
    height: 120px;
    width: 120px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
  }

  .child-medium {
    /* flex: 1 0 10%; */
    margin: 5px;
    height: 80px;
    width: 90px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .child-small {
    /* flex: 1 0 10%; */
    margin: 5px;
    height: 50px;
    width: 60px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .child-xsmall {
    /* flex: 1 0 5%; */
    margin: 5px;
    height: 40px;
    width: 50px;
    padding: 5px;
  }

  .ship-child {
    /* flex: 1 0 10%; */
    margin: 5px;
    /* height: 150px; */
    /* width: 120px; */
    padding: 5px;
  }

  .ship-squad {
    padding-bottom: 20px;
  }

  .gac-unit__bar {
    background: #555;
    border: 1px solid #ccc;
    margin-top: -1px;
    border-radius: 6px 0 6px 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.5) inset;
    display: flex;
    justify-content: flex-end;
}

.gac-unit__bar-inner {
    height: 6px;
    border-radius: 6px 0 6px 0;
}

.gac-unit__bar-inner--hp {
    background-color: #16dc19;
}

.gac-unit__bar-inner--hp-low {
    background-color: #fbff44;
}

.gac-unit__bar-inner--hp-critical {
    background-color: #de0214;
}

.gac-unit__bar-inner--prot {
    background-color: #f2f2f2;
}