.parent {
    display: flex;
    flex-wrap: wrap;
  }

  .centered {
    margin: 0 auto;
  }

  .greenscreen {
    background-color: #000000;
    margin: 50px;
    border-width: 20px;
    border-color: #000000;
  }
  

  .child-large {
    margin: 5px;
    height: 300px;
    width: 280px;
    padding: 15px;
  }
  
  .child-normal {
    /* flex: 1 0 10%; */
    margin: 5px;
    height: 120px;
    width: 120px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
  }

  .child-medium {
    /* flex: 1 0 10%; */
    margin: 5px;
    height: 80px;
    width: 90px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .child-small {
    /* flex: 1 0 10%; */
    margin: 5px;
    height: 50px;
    width: 60px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .child-xsmall {
    /* flex: 1 0 5%; */
    margin: 5px;
    height: 40px;
    width: 50px;
    padding: 5px;
  }

  .ship-child {
    /* flex: 1 0 10%; */
    margin: 5px;
    /* height: 150px; */
    /* width: 120px; */
    padding: 5px;
  }

  .ship-squad {
    padding-bottom: 20px;
  }

  .gac-unit__bar {
    background: #555;
    border: 1px solid #ccc;
    margin-top: -1px;
    border-radius: 6px 0 6px 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.5) inset;
    display: flex;
    justify-content: flex-end;
}

.gac-unit__bar-inner {
    height: 6px;
    border-radius: 6px 0 6px 0;
}

.gac-unit__bar-inner--hp {
    background-color: #16dc19;
}

.gac-unit__bar-inner--hp-low {
    background-color: #fbff44;
}

.gac-unit__bar-inner--hp-critical {
    background-color: #de0214;
}

.gac-unit__bar-inner--prot {
    background-color: #f2f2f2;
}